::selection {
    background-color: white;
    color: black;
}

.parent {
    display: block;
    background-color: black;
    color: white;
    align-items: start;
    justify-content: start;
    padding-top: 13vh;
}

.text-content {
    padding-left: 25vw;
    padding-right: 25vw;
}

h1 {
    font-size: 45px;
    width: 100%;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

p, ul {
    line-height: 27px;
    font-size: 20px;
}

li {
    padding-bottom: 20px;
}